<h1>Olá </h1>

<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
/>
<script>
const teste = () => {
    alert('115')
};
</script>

<h2> Informe a idade </h2>
    <div class="form-group">
        <input
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Idade"
            method = "get"
        />
    </div>
    <button type="submit" class="btn btn-primary"onclick="teste()">Enviar</button>
</form>
