<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
/>
<div class="alert alert-success" align="center" role="alert">
  <h1>Menor de idade!</h1><br>
  <h3>Idade informada: {{idade}} anos<h3>
</div>
